<div class="empSub" ng-show="empSelected">
    <h1>More Staff Information</h1>
    <p>Staff Id : {{ empSelected.employeeId }}</p>
    <p>Name : {{ empSelected.employeeName }}</p>
    <p>EMail : {{ empSelected.employeeEmail }}</p>
    <p>Phone : {{ empSelected.employeePhone }}</p>
    <p>Address : {{ empSelected.employeeAddress }}</p>
</div>
<div class="empSub" ng-hide="empSelected">
    <p>Click on employee details for more information</p>
</div>


 
<div class="empTable">
    <table border="1" class="table">
    <thead>
        <tr>
            <td>Staff ID</td>
            <td>Staff Name</td>
        </tr> 
    </thead>
    <tbody>
        <tr ng-repeat="emp in allemployees"
            ng-click="empSelected = emp"
            ng-class="{true: 'active',false: ''}[empSelected == emp]"
            >
            <td>{{ emp.employeeId }}</td>
            <td>{{ emp.employeeName }}</td>
        </tr>
    </tbody>
    </table>
{{ empSelected.employeeId }}
</div>
