
<div  ng-controller="empDetails as e">
<div class="empSub" ng-show="e.empSelected">
    <h2>More Staff Information</h2>
    <p>Staff Id : {{ e.empSelected.employeeId }}</p>
    <p>Name : {{ e.empSelected.employeeName }}</p>
    <p>EMail : {{ e.empSelected.employeeEmail }}</p>
    <p>Phone : {{ e.empSelected.employeePhone }}</p>
    <p>Address : {{ e.empSelected.employeeAddress }}</p>
</div>
<div class="empSub" ng-hide="e.empSelected">
    <p>Click on employee details for more information</p>
</div>
    <br><br>
<div class="empTable">
    <table border="1" class="table">
    <thead>
        <tr>
            <td>Staff ID</td>
            <td>Staff Name</td>
        </tr> 
    </thead>
    <tbody>
        <tr ng-repeat="emp in allemployees"
            ng-click="e.empSelected = emp"
            ng-class="{true:'active',false:''}[e.empSelected == emp]">
            <td>{{ emp.employeeId }}</td>
            <td>{{ emp.employeeName }}</td>
        </tr>
    </tbody>
    </table>
     <br><br> <br><br>
     <section><p>Contact Us ,If you have any Questionary !!!</p></section>
</div>
</div>